.classpath
.project
.settings
.metadata
*.ipr
*.iws
*.iml
*.class
*.swp
target
classes
build
bin
.DS_Store
classes
lib
tmp
ogfile
db.properties
dev.conf
logs
dump.rdb
.vscode
.factorypath
VERSION
DOCKER_IMAGE
*.log
